<% if (site.categories.length){ %>
  <%- partial('_pre') %>
  <section class="widget <%- item.class %> <%- page.widget_style %> <%- page.widget_platform %>">
    <%- partial('header', {item: item}) %>
    <div class='content'>
      <ul class="entry navigation">
        <% 
          var categories = [];
          site.categories.each(function(category) {
            categories.push(category);
          });

          if (site.data.categories && site.data.categories.sort) {
            var sort_names = site.data.categories.sort;
            categories.sort(function(a, b) {
              return sort_names.indexOf(a.name) - sort_names.indexOf(b.name);
            });
          } else {
            categories.sort(function(a, b) {
              return a.path.localeCompare(b.path);
            });
          }
        %>
        <% categories.forEach(function(category){ %>
          <li><a class="flat-box<%= category.parent ? ' child' : ''%>"
            title="<%- url_for(category.path) %>" href="<%- url_for(category.path) %>"
            active-action="<%= url_for(category.path).replace(/\/|%|\./g, "")?url_for(category.path).replace(/\/|%|\./g, ""):"home" %>"
            ><div class='name'><%- category.name %></div><div class='badge'>(<%- category.posts.length %>)</div></a></li>
        <% }) %>
      </ul>
    </div>
  </section>
<% } %>
